# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ASP_React.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\grine\RiderProjects\Asp_React\.idea\.idea.ASP_React\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
